@model RedRiver.CoffeeMachine.Api.Models.DrinkModel

<h1>@Resources.DrinkSelectionResources.HeaderText</h1>

<div>@Html.ActionLink(Resources.DrinkSelectionResources.ChocolateButtonText, "GetChocolate", "Machine", null, new { @class = "btn btn-default" })</div>
<div>@Html.ActionLink(Resources.DrinkSelectionResources.CoffeeButtonText, "GetCoffee", "Machine", null, new { @class = "btn btn-default" })</div>
<div>@Html.ActionLink(Resources.DrinkSelectionResources.LemonTeaButtonText, "GetLemonTea", "Machine", null, new { @class = "btn btn-default" })</div>

<div>
    @if(Model?.PreparationSteps != null)
    {
        <h2>@Resources.DrinkSelectionResources.PrepStepsHeaderText</h2>
    
        <ul>
            @foreach(var step in Model.PreparationSteps)
            {
                <li>@step.Description</li>
            }
        </ul>
    }
</div>